name: Run Codespell

on:
  push:
    branches: main
    paths-ignore: config.yaml
    
  pull_request:
    branches: main

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  codespell:
    name: Check for spelling errors
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v6

      - name: Codespell
        uses: codespell-project/actions-codespell@v2
        with:
          options: --config .github/workflows/.codespellrc
